<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Products</title>
    <style>
        body{
            background:linear-gradient(to right,plum,pink,purple);
        }
        h2{
            text-align: center;
        }
        ul{
            border:1px solid plum;
            width:300px;
            height:auto;
            margin:auto;
            

        }
    </style>
</head>
<body>
    <div>
        <h2>Product List</h2>
    <ul>
        <% products.forEach(product => { %>
            <li>
                <strong><%= product.name %></strong><br>
                ID: <%= product.id %><br>
                Price: <%= product.price %><br>
                Category: <%= product.category %><br>
                Manufactured on: <%= product.manufacturingDate %><br>
                Expiry Date: <%= product.expirationDate %><br><br>
            </li>
        <% }); %>
    </ul>
        
    </div>
    
</body>
</html>
